apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .ServiceName }}
  namespace: {{ .Namespace }}
spec:
  replicas: {{ .Replicas }}
  selector:
    matchLabels: { app: {{ .ServiceName }} }
  template:
    metadata:
      labels: { app: {{ .ServiceName }} }
    spec:
      containers:
        - name: {{ .ServiceName }}
          image: {{ .DockerImage }}
          ports:
            - containerPort: {{ .ApplicationPort }}
{{- if .NeedsHealthCheck }}
          livenessProbe:
            httpGet:
              path: {{ .HealthPath }}
              port: {{ .ApplicationPort }}
          readinessProbe:
            httpGet:
              path: {{ .HealthPath }}
              port: {{ .ApplicationPort }}
{{- end }}
