apiVersion: v1
kind: Service
metadata:
  name: {{ .ServiceName }}
  namespace: {{ .Namespace }}
spec:
  selector: { app: {{ .ServiceName }} }
  ports:
    - port: {{ .ApplicationPort }}
      targetPort: {{ .ApplicationPort }}
